<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">

	
	
	<bean id="admin" class="com.divergentsl.cms.Admin" />
	
	<bean id="doctor" class="com.divergentsl.cms.Doctor" />
		
	<!-- Login -->
	<bean id="login" class="com.divergentsl.cms.Login">
		<property name="a" ref="admin" />
		<property name="d" ref="doctor" />
	</bean>
	
	

</beans>